$contrasted-lightness-threshold: 50%;

@import "compass/utilities/color/contrast";

%common-button-elements {
  @include inline-block;
  @include border-radius(4px);
  // @include box-shadow(inset 0 1px 1px rgba(255,255,255,0.5));
  padding: 10px 15px;
  font-size: 13px;
}

@mixin button($color) {
  @extend %common-button-elements;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255, .25),
                      0 1px 2px rgba(0,0,0, .25));
  @include text-shadow(0 1px 0 rgba(0,0,0, .8));
  @include background(linear-gradient(lighten($color, 10%), darken($color, 10%)));
  // background: $color;
  font-size: 18px;
  font-weight: normal;
  // border: 1px solid darken($color, 20%);
  color: contrast-color($color, #222, #efefef) !important;
  cursor: pointer;
  &:hover {
    background: lighten($color, 10%);
    @include box-shadow(0 1px 2px rgba(0,0,0, .25),
                        inset 0 1px 0 rgba(255,255,255, .25));
  }
}

.button-amazon {
  @extend .button-primary;
  @include font-awesome;
  @extend .icon-amazon;
  height: 26px;
  &:before { margin-right: 10px; }
}

[class^='button'] a { color: #fff; }
.button-free {
  @extend .button;
  text-align: center;
  width: 110px;
  height: 26px;
  .hovered { display: none; }
  &:hover {
    padding: 0;
    width: 140px;
    height: 46px;
    .text { display: none; }
    .hovered {
      @include border-radius(4px);
      @include background(linear-gradient(lighten(#495566, 10%), darken(#495566, 10%)));
      display: block;
      > * {
        @include inline-block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70px;
      }
      .epub, .mobi {
        &:hover { background: lighten(#495566, 30%); color: #fff; }
      }
      .epub {
        @include border-radius(4px 0 0 4px);
      }
      .mobi {
        @include border-radius(0 4px 4px 0);
      }
    }
  }
}

.button { @include button(#495566); }

.button-primary { @include button(#23997c); }

.button-success {
  @include button(#5bb75b);
  color: #fff;
  &[disabled] {
    @include opacity(.65);
    background: #51A351;
  }
  &:after {
    content: hexdec(#515151);
  }
}
