/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* -------------------------------------------------------------
  Blueprint Variables
 ------------------------------------------------------------- */
$blueprint-grid-columns: 10;
$blueprint-grid-width: 60px;
$blueprint-grid-margin: 20px;

/* -------------------------------------------------------------
  Compass
 ------------------------------------------------------------- */
@import "compass/reset";
@import "compass/css3";
@import "blueprint/grid";
@import "compass/utilities/links/link-colors";

/* -------------------------------------------------------------
  Vendor
 ------------------------------------------------------------- */
@import "vendor/tipTip";
@import "vendor/font-awesome";

/* -------------------------------------------------------------
  Mixins
 ------------------------------------------------------------- */
@import "mixins/buttons";

/* -------------------------------------------------------------
  Modules
 ------------------------------------------------------------- */

/* -------------------------------------------------------------
  Partials
 ------------------------------------------------------------- */
@import "partials/fonts";
@import "partials/base";
@import "partials/layout";
@import "partials/sticky-footer";
