/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* -------------------------------------------------------------
  Blueprint Variables
 ------------------------------------------------------------- */
/* -------------------------------------------------------------
  Compass
 ------------------------------------------------------------- */
/* line 17, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* -------------------------------------------------------------
  Vendor
 ------------------------------------------------------------- */
/* line 1, vendor/_jquery-tools.scss */
#cover-large {
  display: none;
  z-index: 10000; }
  /* line 4, vendor/_jquery-tools.scss */
  #cover-large img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.25);
    margin-top: 3%;
    background: rgba(60, 60, 72, 0.97);
    padding: 10px;
    max-height: 80%; }
  /* line 12, vendor/_jquery-tools.scss */
  #cover-large .close {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 36px;
    height: 36px;
    background: url('/images/vendor/close.png'); }

/* line 22, vendor/_jquery-tools.scss */
.modal {
  background: rgba(0, 0, 0, 0.75);
  margin: 0;
  top: 0 !important;
  width: 100%;
  height: 100%; }

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: url(/font/fontawesome-webfont.eot);
  src: url(/font/fontawesome-webfont.eot?#iefix) format('eot'), url(/font/fontawesome-webfont.woff) format('woff'), url(/font/fontawesome-webfont.ttf) format('truetype'), url(/font/fontawesome-webfont.otf) format('opentype'), url(/font/fontawesome-webfont.svgz#FontAwesomeRegular) format('svg'), url(/font/fontawesome-webfont.svg#FontAwesomeRegular) format('svg');
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 51, vendor/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

/* line 56, vendor/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
/* line 62, vendor/_font-awesome.scss */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em; }

/* line 69, vendor/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"], .nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

/* line 77, vendor/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
/* line 83, vendor/_font-awesome.scss */
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

/* line 89, vendor/_font-awesome.scss */
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em; }
  /* line 96, vendor/_font-awesome.scss */
  ul.icons li [class^="icon-"],
  ul.icons li [class*=" icon-"] {
    width: .8em; }
  /* line 100, vendor/_font-awesome.scss */
  ul.icons li .icon-large:before,
  ul.icons li .icon-large:before {
    /* 1.5 increased font size for icon-large * 1.25 width */
    vertical-align: initial; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 110, vendor/_font-awesome.scss */
.icon-glass:before {
  content: "\f000"; }

/* line 111, vendor/_font-awesome.scss */
.icon-music:before {
  content: "\f001"; }

/* line 112, vendor/_font-awesome.scss */
.icon-search:before {
  content: "\f002"; }

/* line 113, vendor/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003"; }

/* line 114, vendor/_font-awesome.scss */
.icon-heart:before {
  content: "\f004"; }

/* line 115, vendor/_font-awesome.scss */
.icon-star:before {
  content: "\f005"; }

/* line 116, vendor/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006"; }

/* line 117, vendor/_font-awesome.scss */
.icon-user:before {
  content: "\f007"; }

/* line 118, vendor/_font-awesome.scss */
.icon-film:before {
  content: "\f008"; }

/* line 119, vendor/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009"; }

/* line 120, vendor/_font-awesome.scss */
.icon-th:before {
  content: "\f00a"; }

/* line 121, vendor/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b"; }

/* line 122, vendor/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c"; }

/* line 123, vendor/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d"; }

/* line 124, vendor/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e"; }

/* line 126, vendor/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010"; }

/* line 127, vendor/_font-awesome.scss */
.icon-off:before {
  content: "\f011"; }

/* line 128, vendor/_font-awesome.scss */
.icon-signal:before {
  content: "\f012"; }

/* line 129, vendor/_font-awesome.scss */
.icon-cog:before {
  content: "\f013"; }

/* line 130, vendor/_font-awesome.scss */
.icon-trash:before {
  content: "\f014"; }

/* line 131, vendor/_font-awesome.scss */
.icon-home:before {
  content: "\f015"; }

/* line 132, vendor/_font-awesome.scss */
.icon-file:before {
  content: "\f016"; }

/* line 133, vendor/_font-awesome.scss */
.icon-time:before {
  content: "\f017"; }

/* line 134, vendor/_font-awesome.scss */
.icon-road:before {
  content: "\f018"; }

/* line 135, vendor/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019"; }

/* line 136, vendor/_font-awesome.scss */
.icon-download:before {
  content: "\f01a"; }

/* line 137, vendor/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b"; }

/* line 138, vendor/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c"; }

/* line 139, vendor/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d"; }

/* line 140, vendor/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e"; }

/* \f020 is not a valid unicode character. all shifted one down */
/* line 143, vendor/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021"; }

/* line 144, vendor/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022"; }

/* line 145, vendor/_font-awesome.scss */
.icon-lock:before {
  content: "\f023"; }

/* line 146, vendor/_font-awesome.scss */
.icon-flag:before {
  content: "\f024"; }

/* line 147, vendor/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025"; }

/* line 148, vendor/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026"; }

/* line 149, vendor/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027"; }

/* line 150, vendor/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028"; }

/* line 151, vendor/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029"; }

/* line 152, vendor/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a"; }

/* line 153, vendor/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b"; }

/* line 154, vendor/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c"; }

/* line 155, vendor/_font-awesome.scss */
.icon-book:before {
  content: "\f02d"; }

/* line 156, vendor/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e"; }

/* line 157, vendor/_font-awesome.scss */
.icon-print:before {
  content: "\f02f"; }

/* line 159, vendor/_font-awesome.scss */
.icon-camera:before {
  content: "\f030"; }

/* line 160, vendor/_font-awesome.scss */
.icon-font:before {
  content: "\f031"; }

/* line 161, vendor/_font-awesome.scss */
.icon-bold:before {
  content: "\f032"; }

/* line 162, vendor/_font-awesome.scss */
.icon-italic:before {
  content: "\f033"; }

/* line 163, vendor/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034"; }

/* line 164, vendor/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035"; }

/* line 165, vendor/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036"; }

/* line 166, vendor/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037"; }

/* line 167, vendor/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038"; }

/* line 168, vendor/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039"; }

/* line 169, vendor/_font-awesome.scss */
.icon-list:before {
  content: "\f03a"; }

/* line 170, vendor/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b"; }

/* line 171, vendor/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c"; }

/* line 172, vendor/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d"; }

/* line 173, vendor/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e"; }

/* line 175, vendor/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040"; }

/* line 176, vendor/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041"; }

/* line 177, vendor/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042"; }

/* line 178, vendor/_font-awesome.scss */
.icon-tint:before {
  content: "\f043"; }

/* line 179, vendor/_font-awesome.scss */
.icon-edit:before {
  content: "\f044"; }

/* line 180, vendor/_font-awesome.scss */
.icon-share:before {
  content: "\f045"; }

/* line 181, vendor/_font-awesome.scss */
.icon-check:before {
  content: "\f046"; }

/* line 182, vendor/_font-awesome.scss */
.icon-move:before {
  content: "\f047"; }

/* line 183, vendor/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048"; }

/* line 184, vendor/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049"; }

/* line 185, vendor/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a"; }

/* line 186, vendor/_font-awesome.scss */
.icon-play:before {
  content: "\f04b"; }

/* line 187, vendor/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c"; }

/* line 188, vendor/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d"; }

/* line 189, vendor/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e"; }

/* line 191, vendor/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050"; }

/* line 192, vendor/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051"; }

/* line 193, vendor/_font-awesome.scss */
.icon-eject:before {
  content: "\f052"; }

/* line 194, vendor/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053"; }

/* line 195, vendor/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054"; }

/* line 196, vendor/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055"; }

/* line 197, vendor/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056"; }

/* line 198, vendor/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057"; }

/* line 199, vendor/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058"; }

/* line 200, vendor/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059"; }

/* line 201, vendor/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a"; }

/* line 202, vendor/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b"; }

/* line 203, vendor/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c"; }

/* line 204, vendor/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d"; }

/* line 205, vendor/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e"; }

/* line 207, vendor/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060"; }

/* line 208, vendor/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061"; }

/* line 209, vendor/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062"; }

/* line 210, vendor/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063"; }

/* line 211, vendor/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064"; }

/* line 212, vendor/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065"; }

/* line 213, vendor/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066"; }

/* line 214, vendor/_font-awesome.scss */
.icon-plus:before {
  content: "\f067"; }

/* line 215, vendor/_font-awesome.scss */
.icon-minus:before {
  content: "\f068"; }

/* line 216, vendor/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069"; }

/* line 217, vendor/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a"; }

/* line 218, vendor/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b"; }

/* line 219, vendor/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c"; }

/* line 220, vendor/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d"; }

/* line 221, vendor/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e"; }

/* line 223, vendor/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070"; }

/* line 224, vendor/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071"; }

/* line 225, vendor/_font-awesome.scss */
.icon-plane:before {
  content: "\f072"; }

/* line 226, vendor/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073"; }

/* line 227, vendor/_font-awesome.scss */
.icon-random:before {
  content: "\f074"; }

/* line 228, vendor/_font-awesome.scss */
.icon-comment:before {
  content: "\f075"; }

/* line 229, vendor/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076"; }

/* line 230, vendor/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077"; }

/* line 231, vendor/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078"; }

/* line 232, vendor/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079"; }

/* line 233, vendor/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a"; }

/* line 234, vendor/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b"; }

/* line 235, vendor/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c"; }

/* line 236, vendor/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d"; }

/* line 237, vendor/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e"; }

/* line 239, vendor/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080"; }

/* line 240, vendor/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081"; }

/* line 241, vendor/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082"; }

/* line 242, vendor/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083"; }

/* line 243, vendor/_font-awesome.scss */
.icon-key:before {
  content: "\f084"; }

/* line 244, vendor/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085"; }

/* line 245, vendor/_font-awesome.scss */
.icon-comments:before {
  content: "\f086"; }

/* line 246, vendor/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087"; }

/* line 247, vendor/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088"; }

/* line 248, vendor/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089"; }

/* line 249, vendor/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a"; }

/* line 250, vendor/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b"; }

/* line 251, vendor/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c"; }

/* line 252, vendor/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d"; }

/* line 253, vendor/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e"; }

/* line 255, vendor/_font-awesome.scss */
.icon-signin:before {
  content: "\f090"; }

/* line 256, vendor/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091"; }

/* line 257, vendor/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092"; }

/* line 258, vendor/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093"; }

/* line 259, vendor/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094"; }

/* line 260, vendor/_font-awesome.scss */
.icon-phone:before {
  content: "\f095"; }

/* line 261, vendor/_font-awesome.scss */
.icon-check-empty:before {
  content: "\f096"; }

/* line 262, vendor/_font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097"; }

/* line 263, vendor/_font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098"; }

/* line 264, vendor/_font-awesome.scss */
.icon-twitter:before {
  content: "\f099"; }

/* line 265, vendor/_font-awesome.scss */
.icon-facebook:before {
  content: "\f09a"; }

/* line 266, vendor/_font-awesome.scss */
.icon-github:before {
  content: "\f09b"; }

/* line 267, vendor/_font-awesome.scss */
.icon-unlock:before {
  content: "\f09c"; }

/* line 268, vendor/_font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d"; }

/* line 269, vendor/_font-awesome.scss */
.icon-rss:before {
  content: "\f09e"; }

/* line 271, vendor/_font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0"; }

/* line 272, vendor/_font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1"; }

/* line 273, vendor/_font-awesome.scss */
.icon-bell:before {
  content: "\f0a2"; }

/* line 274, vendor/_font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3"; }

/* line 275, vendor/_font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4"; }

/* line 276, vendor/_font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5"; }

/* line 277, vendor/_font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6"; }

/* line 278, vendor/_font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7"; }

/* line 279, vendor/_font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8"; }

/* line 280, vendor/_font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9"; }

/* line 281, vendor/_font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa"; }

/* line 282, vendor/_font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab"; }

/* line 283, vendor/_font-awesome.scss */
.icon-globe:before {
  content: "\f0ac"; }

/* line 284, vendor/_font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad"; }

/* line 285, vendor/_font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae"; }

/* line 287, vendor/_font-awesome.scss */
.icon-filter:before {
  content: "\f0b0"; }

/* line 288, vendor/_font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1"; }

/* line 289, vendor/_font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2"; }

/* line 291, vendor/_font-awesome.scss */
.icon-group:before {
  content: "\f0c0"; }

/* line 292, vendor/_font-awesome.scss */
.icon-link:before {
  content: "\f0c1"; }

/* line 293, vendor/_font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2"; }

/* line 294, vendor/_font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3"; }

/* line 295, vendor/_font-awesome.scss */
.icon-cut:before {
  content: "\f0c4"; }

/* line 296, vendor/_font-awesome.scss */
.icon-copy:before {
  content: "\f0c5"; }

/* line 297, vendor/_font-awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6"; }

/* line 298, vendor/_font-awesome.scss */
.icon-save:before {
  content: "\f0c7"; }

/* line 299, vendor/_font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8"; }

/* line 300, vendor/_font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9"; }

/* line 301, vendor/_font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca"; }

/* line 302, vendor/_font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb"; }

/* line 303, vendor/_font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc"; }

/* line 304, vendor/_font-awesome.scss */
.icon-underline:before {
  content: "\f0cd"; }

/* line 305, vendor/_font-awesome.scss */
.icon-table:before {
  content: "\f0ce"; }

/* line 307, vendor/_font-awesome.scss */
.icon-magic:before {
  content: "\f0d0"; }

/* line 308, vendor/_font-awesome.scss */
.icon-truck:before {
  content: "\f0d1"; }

/* line 309, vendor/_font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2"; }

/* line 310, vendor/_font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3"; }

/* line 311, vendor/_font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4"; }

/* line 312, vendor/_font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5"; }

/* line 313, vendor/_font-awesome.scss */
.icon-money:before {
  content: "\f0d6"; }

/* line 314, vendor/_font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7"; }

/* line 315, vendor/_font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8"; }

/* line 316, vendor/_font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9"; }

/* line 317, vendor/_font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da"; }

/* line 318, vendor/_font-awesome.scss */
.icon-columns:before {
  content: "\f0db"; }

/* line 319, vendor/_font-awesome.scss */
.icon-sort:before {
  content: "\f0dc"; }

/* line 320, vendor/_font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd"; }

/* line 321, vendor/_font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de"; }

/* line 323, vendor/_font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0"; }

/* line 324, vendor/_font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1"; }

/* line 325, vendor/_font-awesome.scss */
.icon-undo:before {
  content: "\f0e2"; }

/* line 326, vendor/_font-awesome.scss */
.icon-legal:before {
  content: "\f0e3"; }

/* line 327, vendor/_font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4"; }

/* line 328, vendor/_font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5"; }

/* line 329, vendor/_font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6"; }

/* line 330, vendor/_font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7"; }

/* line 331, vendor/_font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8"; }

/* line 332, vendor/_font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9"; }

/* line 333, vendor/_font-awesome.scss */
.icon-paste:before {
  content: "\f0ea"; }

/* line 335, vendor/_font-awesome.scss */
.icon-user-md:before {
  content: "\f200"; }

/* line 337, vendor/_font-awesome.scss */
.icon-apple-logo:before {
  content: "\f500"; }

/* line 338, vendor/_font-awesome.scss */
.icon-windows-8:before {
  content: "\f501"; }

/* line 339, vendor/_font-awesome.scss */
.icon-js-fiddle:before {
  content: "\f502"; }

/* line 340, vendor/_font-awesome.scss */
.icon-skype:before {
  content: "\f503"; }

/* line 341, vendor/_font-awesome.scss */
.icon-youtube-sign:before {
  content: "\f504"; }

/* line 342, vendor/_font-awesome.scss */
.icon-youtube:before {
  content: "\f505"; }

/* line 343, vendor/_font-awesome.scss */
.icon-vimeo-sign:before {
  content: "\f506"; }

/* line 344, vendor/_font-awesome.scss */
.icon-vimeo:before {
  content: "\f507"; }

/* line 345, vendor/_font-awesome.scss */
.icon-lastfm-sign:before {
  content: "\f508"; }

/* line 346, vendor/_font-awesome.scss */
.icon-lastfm:before {
  content: "\f509"; }

/* line 347, vendor/_font-awesome.scss */
.icon-rss-sign:before {
  content: "\f50a"; }

/* line 348, vendor/_font-awesome.scss */
.icon-reddit:before {
  content: "\f50b"; }

/* line 349, vendor/_font-awesome.scss */
.icon-delicious-sign:before {
  content: "\f50c"; }

/* line 350, vendor/_font-awesome.scss */
.icon-wordpress-sign:before {
  content: "\f50d"; }

/* line 351, vendor/_font-awesome.scss */
.icon-wordpress:before {
  content: "\f50e"; }

/* line 352, vendor/_font-awesome.scss */
.icon-git-fork:before {
  content: "\f50f"; }

/* line 354, vendor/_font-awesome.scss */
.icon-blogger-sign:before {
  content: "\f510"; }

/* line 355, vendor/_font-awesome.scss */
.icon-blogger:before {
  content: "\f511"; }

/* line 356, vendor/_font-awesome.scss */
.icon-tumblr-sign:before {
  content: "\f512"; }

/* line 357, vendor/_font-awesome.scss */
.icon-tumblr:before {
  content: "\f513"; }

/* line 358, vendor/_font-awesome.scss */
.icon-flickr-sign:before {
  content: "\f514"; }

/* line 359, vendor/_font-awesome.scss */
.icon-flickr:before {
  content: "\f515"; }

/* line 360, vendor/_font-awesome.scss */
.icon-picasa-sign:before {
  content: "\f516"; }

/* line 361, vendor/_font-awesome.scss */
.icon-picasa:before {
  content: "\f517"; }

/* line 362, vendor/_font-awesome.scss */
.icon-amazon-sign:before {
  content: "\f518"; }

/* line 363, vendor/_font-awesome.scss */
.icon-amazon:before, .button-amazon:before {
  content: "\f519"; }

/* line 364, vendor/_font-awesome.scss */
.icon-yelp-sign:before {
  content: "\f51a"; }

/* line 365, vendor/_font-awesome.scss */
.icon-yelp:before {
  content: "\f51b"; }

/* line 366, vendor/_font-awesome.scss */
.icon-soundcloud:before {
  content: "\f51c"; }

/* line 367, vendor/_font-awesome.scss */
.icon-spotify:before {
  content: "\f51d"; }

/* line 369, vendor/_font-awesome.scss */
.icon-yahoo-sign:before {
  content: "\f520"; }

/* line 370, vendor/_font-awesome.scss */
.icon-yahoo:before {
  content: "\f521"; }

/* line 371, vendor/_font-awesome.scss */
.icon-evernote-sign:before {
  content: "\f522"; }

/* line 372, vendor/_font-awesome.scss */
.icon-evernote:before {
  content: "\f523"; }

/* line 373, vendor/_font-awesome.scss */
.icon-google-sign:before {
  content: "\f524"; }

/* line 374, vendor/_font-awesome.scss */
.icon-google:before {
  content: "\f525"; }

/* line 375, vendor/_font-awesome.scss */
.icon-hacker-news:before {
  content: "\f526"; }

/* line 376, vendor/_font-awesome.scss */
.icon-map:before {
  content: "\f529"; }

/* line 377, vendor/_font-awesome.scss */
.icon-bus-sign:before {
  content: "\f52a"; }

/* line 378, vendor/_font-awesome.scss */
.icon-bike-sign:before {
  content: "\f52b"; }

/* line 379, vendor/_font-awesome.scss */
.icon-car-sign:before {
  content: "\f52c"; }

/* line 380, vendor/_font-awesome.scss */
.icon-taxi-sign:before {
  content: "\f52d"; }

/* line 381, vendor/_font-awesome.scss */
.icon-truck-sign:before {
  content: "\f52e"; }

/* line 382, vendor/_font-awesome.scss */
.icon-handicap-sign:before {
  content: "\f52f"; }

/* -------------------------------------------------------------
  Mixins
 ------------------------------------------------------------- */
/* line 5, mixins/_buttons.scss */
.button, .button-free, .button-primary, .button-amazon, .button-success {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 13px; }

/* line 32, mixins/_buttons.scss */
.button-amazon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  height: 26px; }
  /* line 37, mixins/_buttons.scss */
  .button-amazon:before {
    margin-right: 10px; }

/* line 40, mixins/_buttons.scss */
[class^='button'] a {
  color: #fff; }

/* line 41, mixins/_buttons.scss */
.button-free {
  text-align: center;
  width: 110px;
  height: 26px; }
  /* line 46, mixins/_buttons.scss */
  .button-free .hovered {
    display: none; }
  /* line 47, mixins/_buttons.scss */
  .button-free:hover {
    padding: 0;
    width: 140px;
    height: 46px; }
    /* line 51, mixins/_buttons.scss */
    .button-free:hover .text {
      display: none; }
    /* line 52, mixins/_buttons.scss */
    .button-free:hover .hovered {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e6e84), color-stop(100%, #343c48));
      background: -webkit-linear-gradient(#5e6e84, #343c48);
      background: -moz-linear-gradient(#5e6e84, #343c48);
      background: -o-linear-gradient(#5e6e84, #343c48);
      background: linear-gradient(#5e6e84, #343c48);
      display: block; }
      /* line 56, mixins/_buttons.scss */
      .button-free:hover .hovered > * {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70px; }
      /* line 64, mixins/_buttons.scss */
      .button-free:hover .hovered .epub:hover, .button-free:hover .hovered .mobi:hover {
        background: #95a1b3;
        color: #fff; }
      /* line 66, mixins/_buttons.scss */
      .button-free:hover .hovered .epub {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        -o-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px; }
      /* line 69, mixins/_buttons.scss */
      .button-free:hover .hovered .mobi {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0; }

/* line 76, mixins/_buttons.scss */
.button, .button-free {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e6e84), color-stop(100%, #343c48));
  background: -webkit-linear-gradient(#5e6e84, #343c48);
  background: -moz-linear-gradient(#5e6e84, #343c48);
  background: -o-linear-gradient(#5e6e84, #343c48);
  background: linear-gradient(#5e6e84, #343c48);
  font-size: 18px;
  font-weight: normal;
  color: #efefef !important;
  cursor: pointer; }
  /* line 25, mixins/_buttons.scss */
  .button:hover, .button-free:hover {
    background: #5e6e84;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25); }

/* line 78, mixins/_buttons.scss */
.button-primary, .button-amazon {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2cc39e), color-stop(100%, #1a6f5a));
  background: -webkit-linear-gradient(#2cc39e, #1a6f5a);
  background: -moz-linear-gradient(#2cc39e, #1a6f5a);
  background: -o-linear-gradient(#2cc39e, #1a6f5a);
  background: linear-gradient(#2cc39e, #1a6f5a);
  font-size: 18px;
  font-weight: normal;
  color: #efefef !important;
  cursor: pointer; }
  /* line 25, mixins/_buttons.scss */
  .button-primary:hover, .button-amazon:hover {
    background: #2cc39e;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25); }

/* line 80, mixins/_buttons.scss */
.button-success {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ec77e), color-stop(100%, #449b44));
  background: -webkit-linear-gradient(#7ec77e, #449b44);
  background: -moz-linear-gradient(#7ec77e, #449b44);
  background: -o-linear-gradient(#7ec77e, #449b44);
  background: linear-gradient(#7ec77e, #449b44);
  font-size: 18px;
  font-weight: normal;
  color: #222222 !important;
  cursor: pointer;
  color: #fff; }
  /* line 25, mixins/_buttons.scss */
  .button-success:hover {
    background: #7ec77e;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25); }
  /* line 83, mixins/_buttons.scss */
  .button-success[disabled] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    opacity: 0.65;
    background: #51A351; }
  /* line 87, mixins/_buttons.scss */
  .button-success:after {
    content: hexdec(#515151); }

/* -------------------------------------------------------------
  Modules
 ------------------------------------------------------------- */
/* -------------------------------------------------------------
  Partials
 ------------------------------------------------------------- */
/* line 28, partials/_fonts.scss */
body {
  color: #f6f6f6;
  font-size: 15px;
  font-weight: 100;
  line-height: 26px;
  font-family: 'PT Sans', sans-serif; }

/* line 30, partials/_fonts.scss */
a {
  color: #60dbbd;
  text-decoration: none; }
  /* line 18, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #60dbbd; }
  /* line 21, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #60dbbd; }
  /* line 24, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #b4eee0; }
  /* line 27, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #60dbbd; }

/* line 41, partials/_fonts.scss */
h1, h2 {
  color: #f6f6f6; }

/* line 42, partials/_fonts.scss */
h1, h2 {
  font-family: 'Caudex', serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65); }

/* line 44, partials/_fonts.scss */
h1 {
  font-size: 2.6em;
  line-height: 1em;
  margin-bottom: 10px; }

/* line 45, partials/_fonts.scss */
h2 {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 10px; }

/* line 46, partials/_fonts.scss */
h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 10px; }

/* line 47, partials/_fonts.scss */
h4 {
  font-size: 1.05em; }

/* line 50, partials/_fonts.scss */
p {
  margin-bottom: 10px; }

/* line 52, partials/_fonts.scss */
em {
  font-style: italic; }

/* line 53, partials/_fonts.scss */
strong {
  font-weight: 700; }

/* line 3, partials/_base.scss */
body {
  background: #2a272b;
  background: url('/images/background.png'); }

/* line 8, partials/_base.scss */
#header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #232323));
  background: -webkit-linear-gradient(#333333, #232323);
  background: -moz-linear-gradient(#333333, #232323);
  background: -o-linear-gradient(#333333, #232323);
  background: linear-gradient(#333333, #232323);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.03), 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.03), 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.03), 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #efefef;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 3000; }
  /* line 17, partials/_base.scss */
  #header * {
    text-decoration: none; }
  /* line 19, partials/_base.scss */
  #header .left a {
    margin-right: 20px; }
  /* line 21, partials/_base.scss */
  #header .icon-twitter, #header .icon-facebook {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    color: #555;
    font-weight: normal;
    margin-bottom: -6px; }
    /* line 26, partials/_base.scss */
    #header .icon-twitter .title, #header .icon-facebook .title {
      font-size: 0; }
    /* line 27, partials/_base.scss */
    #header .icon-twitter .count, #header .icon-facebook .count {
      -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
      -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      background: #000;
      color: #999;
      font-size: 11px;
      line-height: 12px;
      margin-top: -6px;
      padding: 4px;
      position: relative;
      overflow: visible; }
      /* line 39, partials/_base.scss */
      #header .icon-twitter .count:before, #header .icon-facebook .count:before {
        content: '';
        display: block;
        left: -5px;
        top: 5px;
        border-right: 5px solid #000;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        position: absolute;
        white-space: nowrap; }
    /* line 51, partials/_base.scss */
    #header .icon-twitter:before, #header .icon-facebook:before {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      margin: 3px 4px 0 0; }
    /* line 58, partials/_base.scss */
    #header .icon-twitter:hover .count, #header .icon-facebook:hover .count {
      color: #efefef; }
    /* line 59, partials/_base.scss */
    #header .icon-twitter:hover:before, #header .icon-facebook:hover:before {
      color: #60dbbd; }
  /* line 62, partials/_base.scss */
  #header .icon-twitter {
    margin-right: 20px; }

/* line 80, partials/_base.scss */
#wrap #content .content-header {
  border-left: none;
  border-right: none;
  color: #eaeaea;
  margin: 20px 0 0;
  padding: 20px 0 0; }
  /* line 87, partials/_base.scss */
  #wrap #content .content-header .cover {
    margin: 60px 0 40px; }
  /* line 92, partials/_base.scss */
  #wrap #content .content-header .col-right {
    padding-top: 95px;
    font-size: 24px; }
    /* line 93, partials/_base.scss */
    #wrap #content .content-header .col-right h1 {
      font-size: 52px;
      font-weight: bold; }
    /* line 94, partials/_base.scss */
    #wrap #content .content-header .col-right h3 {
      margin-bottom: 16px; }
/* line 102, partials/_base.scss */
#wrap .kind-of-like {
  -webkit-box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.43);
  padding: 20px 0;
  margin-bottom: 40px; }
  /* line 108, partials/_base.scss */
  #wrap .kind-of-like h2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: rgba(200, 200, 255, 0.08);
    display: inline-block;
    margin-right: 40px;
    margin-top: 44px;
    padding: 10px;
    vertical-align: top; }
  /* line 118, partials/_base.scss */
  #wrap .kind-of-like .movie {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 100px;
    position: relative; }
    /* line 123, partials/_base.scss */
    #wrap .kind-of-like .movie p {
      margin: 0; }
    /* line 124, partials/_base.scss */
    #wrap .kind-of-like .movie p .title {
      font-weight: bold; }
    /* line 125, partials/_base.scss */
    #wrap .kind-of-like .movie .movie-border {
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
      border: 4px solid #333;
      margin-bottom: 10px;
      width: 78px; }
      /* line 130, partials/_base.scss */
      #wrap .kind-of-like .movie .movie-border img {
        max-width: 78px; }
    /* line 132, partials/_base.scss */
    #wrap .kind-of-like .movie:last-child {
      margin: 0; }
    /* line 133, partials/_base.scss */
    #wrap .kind-of-like .movie:after {
      content: '+';
      color: rgba(200, 200, 255, 0.12);
      font-size: 80px;
      font-weight: bold;
      position: absolute;
      width: 60px;
      height: 20px;
      right: -80px;
      top: 56px; }
    /* line 144, partials/_base.scss */
    #wrap .kind-of-like .movie:last-child:after {
      content: ''; }
/* line 150, partials/_base.scss */
#wrap .summary {
  margin-bottom: 40px; }
/* line 154, partials/_base.scss */
#wrap .about-the-author {
  -webkit-box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.43);
  padding: 40px 0; }
  /* line 158, partials/_base.scss */
  #wrap .about-the-author .portrait .image {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.55);
    border: 4px solid #333;
    display: block;
    float: right; }

/* line 162, partials/_base.scss */
#summary {
  display: block;
  top: -100px;
  visibility: hidden;
  position: relative; }

/* line 164, partials/_base.scss */
#footer {
  padding: 40px 0; }

/* line 166, partials/_base.scss */
#cover-large {
  display: none; }

/* line 168, partials/_base.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

/* line 1, partials/_layout.scss */
.container {
  width: 780px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

/* line 3, partials/_layout.scss */
.col-left {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px; }
  /* line 147, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .col-left {
    overflow-x: hidden; }

/* line 4, partials/_layout.scss */
.col-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px; }
  /* line 147, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .col-right {
    overflow-x: hidden; }

/* line 10, partials/_layout.scss */
.about-the-author .text {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 380px; }
  /* line 147, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .about-the-author .text {
    overflow-x: hidden; }
/* line 11, partials/_layout.scss */
.about-the-author .portrait {
  display: inline;
  float: left;
  margin-right: 0;
  width: 380px; }
  /* line 147, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .about-the-author .portrait {
    overflow-x: hidden; }

/* line 14, partials/_layout.scss */
.right {
  float: right; }

/* line 1, partials/_sticky-footer.scss */
html, body, #wrap {
  height: 100%; }

/* line 3, partials/_sticky-footer.scss */
#wrap {
  width: 100%;
  height: auto;
  min-height: 100%; }

/* line 9, partials/_sticky-footer.scss */
#content {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-bottom: 40px;
  width: 100%; }
  /* line 13, partials/_sticky-footer.scss */
  #content:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

/* line 22, partials/_sticky-footer.scss */
#footer {
  position: relative;
  margin-top: -40px;
  clear: both;
  width: 100%;
  height: 40px; }
