- content_for :head do
  %title Son of Sedonia
#content
  .content-header
    .container
      .col-left
        %img.cover{:src => "/images/book-cover.png", :rel => "#cover-large"}
      .col-right
        %h1 Son of Sedonia
        %h3
          An indie Sci-Fi novel written, illustrated, and self-published by
          %a{:href => '#author'}Ben Chaney
        %a.button-amazon{:href => "http://www.amazon.com/Son-of-Sedonia-ebook/dp/B00AO5ID9Q"} Buy on Amazon
        .button-free
          .text Free Preview
          .hovered>
            %a.epub{:href => "SonofSedonia_Sample.epub"}> ePub
            %a.mobi{:href => "SonofSedonia_Sample.mobi"}> Mobi

  .kind-of-like
    .container
      %h2 Compare to
      .movie
        .movie-border
          %img{:src => '/images/covers/blade-runner.jpg'}
        %p
          Environments of
          .title Blade Runner
      .movie
        .movie-border
          %img{:src => '/images/covers/city-of-god.jpg'}
        %p
          Drama of
          .title City of God
      .movie
        .movie-border
          %img{:src => '/images/covers/black-hawk-down.jpg'}
        %p
          Action of
          .title Black Hawk Down

  %a#summary
  .summary
    .container
      %h2 Summary
      %p
        %strong
          Imagine growing up in the largest slum on the planet in the year 2080AD.
        Twenty million people are your neighbors, huddled together in an ocean of rusted dwellings made from whatever
        Sedonia City, the towering metropolis in the distance, decides to throw away. Gang members, known as the T99s,
        are the heads of your community: smuggling tech, trafficking drugs, and fighting a constant guerilla war with
        the City’s bio-augmented EXO police force. There is little hope for survival. None for escape to a better life
        beyond the half-mile high Border between city and slum.
        %strong
          This is Matteo’s world.
        A bright kid, but sick and weak since childhood, he is painfully dependent on Jogun: loving older brother, and
        hardened soldier for the T99s. When a luxury transport from Sedonia’s aerial traffic crash-lands in Rasalla, it
        threatens to change Matteo and Jogun’s fate forever. And all fates are connected.

      %p
        %strong
          The Dwellers of Rasalla,
        bound by family in the scrap, ashes, and dirt.

      %p
        %strong
          The Citizens of Sedonia,
        oblivious to danger in the buzzing twilight of the Neuro-Social Revolution.

      %p
        %strong
          The EXOs,
        placing themselves in harm’s way to perform their duty to protect their homes and fellow officers.

      %p
        And
        %strong
          the Ruling Elite,
        whose long-buried secrets and desperate plans could spell the end of civilization...or a
        new beginning.

      %p
        %strong
          Son of Sedonia
        is an action-filled science fiction epic with a soul and a clear message. Its characters live,
        breathe, suffer, and love in their different worlds, each brought to the brink as the Third-World collides with
        the First.
        %strong
          Their future could well be ours.



  .about-the-author
    .container
      %a#author
      .text
        %h2 About the Author
        %p
          Ben Chaney grew up with a passion for SciFi and Fantasy that led him to study visual storytelling and illustration at the Savannah College of Art and Design. After graduation, he worked his way up through the video game industry; QA testing at Epic Games and Redstorm Entertainment, game art production at Schell Games in Pittsburgh, Pennsylvania, then art direction at Villain LLC in Cary, North Carolina.
        %p
          But storytelling had taken a hold of him at SCAD, and manifested in a pet writing project. Often neglected or pushed aside for other things, “Son of Sedonia” grew slowly over six years. Somehow, the image of the boy on the slum rooftop endured. As Ben honed his craft, the world changed. America plunged into recession, political discord, and uncertainty, triggering a desire for information the likes of which Ben hadn’t before experienced. His writing, and this book, matured as he did.
        %p
          Video game development had given Ben the confidence in his abilities. What to do with those abilities became impossible to ignore. That and the ceaseless, loving voices around him, all saying the same thing: “Follow your heart.” In June 2012, Ben quit his successful job in game development to do just that.
        %p
          This book is the result.

      .portrait
        .image
          %img{:src => '/images/ben-chaney.jpg'}
