- content_for :head do
  %title Son of Sedonia
#content
  .content-header
    .container
      .col-left
        .cover
          Son of Sedonia
      .col-right
        %h1 Son of Sedonia
        %h3 An indie Sci-Fi novel written, illustrated, and self-published by Ben Chaney
        .button Buy on Amazon
        .button-primary Free Preview

  .kind-of-like
    .container
      %h2 Compare to
      .movie
        .movie-border{:title => "Blade Runner"}
          %img{:src => '/images/covers/blade-runner.jpg'}
        %p
          Environments of
          .title Blade Runner
      .movie
        .movie-border{:title => "City of God"}
          %img{:src => '/images/covers/city-of-god.jpg'}
        %p
          Environments of
          .title Blade Runner
      .movie
        .movie-border{:title => "Black Hawk Down"}
          %img{:src => '/images/covers/black-hawk-down.jpg'}
        %p
          Environments of
          .title Blade Runner

  .summary
    .container

      %h2 Summary
      %p
        In 2080AD Sedonia City has passed its peak, having burned through a thousand years of Helium-3 miracle fuel in less than a hundred. 40 million people swarm together inside the half-mile high Border Wall. As the citizens dwell in their promised Future, every distraction is fed by their Neurals: Social media that can be seen, heard, and touched through the signals of the human brain. But the 20 million people of the Rasalla Slums outside the Border were cut from the Future like an infected limb, falling from recession, into depression, and collapse thirty years before.

      %p
        Brothers Matteo and Jogun grew up in the scrap, ashes, and dirt of the Rasalla Slums. With their parents long gone and Matteo sick, Jogun had to step up and grab a gun for the T99 gang. Matteo is weak, but he's smart...too smart for his own good. He's asking questions about the past, and stuck on a future among the Sedonia highrises where hunger, sickness, and alienation don't exist. But Jogun believes dreams don't count for much in the war to survive...and that some answers should stay buried. Matteo, totally dependent on the food, meds, and loving protection Jogun brings, has no choice but to obey. Neither of them see the Change just over the horizon.

      %p
        Jogun's capture by the EXOs, the Sedonia paramilitary cops that police the slums, is the spark that lights the fuse. The day is coming when there will be no more fuel to keep the Future running. With Jogun and countless others enslaved to scrape for every last cubic meter, it is Matteo's turn to step up, trust in himself, and unlock a long-buried secret that reaches past the tallest skyscraper...into the stars.

  .about-the-author
    .container
      %a#author
      .text
        %h2 About the Author
        %p
          Ben Chaney grew up with a passion for SciFi and Fantasy that led him to study visual storytelling and illustration at the Savannah College of Art and Design. After graduation, he worked his way up through the video game industry; QA testing at Epic Games and Redstorm Entertainment, game art production at Schell Games in Pittsburgh, Pennsylvania, then art direction at Villain LLC in Cary, North Carolina.
        %p
          But storytelling had taken a hold of him at SCAD, and manifested in a pet writing project. Often neglected or pushed aside for other things, “Son of Sedonia” grew slowly over six years. Somehow, the image of the boy on the slum rooftop endured. As Ben honed his craft, the world changed. America plunged into recession, political discord, and uncertainty, triggering a desire for information the likes of which Ben hadn’t before experienced. His writing, and this book, matured as he did.
        %p
          Video game development had given Ben the confidence in his abilities. What to do with those abilities became impossible to ignore. That and the ceaseless, loving voices around him, all saying the same thing: “Follow your heart.” In June 2012, Ben quit his successful job in game development to do just that.
        %p
          This book is the result.

      .portrait
        .image
          %img{:src => 'http://www.sonofsedonia.com/uploads/1/4/8/5/14852808/910372.jpg?309'}



:javascript
  $(function(){
    $(".movie-border").tipTip({defaultPosition: 'top', delay: 0});
  });
